@import url('https://assets.namelesshub.com/dist/assets/css/dark.theme.css');

:root {
    --clr-primary-100: 267, 84%, 81%;
}

.desktop-game-interface > .state > .cont-endurance > .endurance-progress {
    background-image: linear-gradient(to right, #f5c2e7, #b4befe)!important;
  }

.hit {
    content: url(https://i.redd.it/y85m31a9icc41.png)!important;
}

@-webkit-keyframes animate{
    to {transform:translateY(30%);}
}

.interface>.background{
    background: url(https://i.ibb.co/F6P4Gd0/imageedit-1-2270348459.png) repeat !important;
    height: 300%;
    background-position: 0px 0px;
    -webkit-animation: animate 10s linear infinite!important;
}